/*
* Author : Homer Gaines
* URL : http://designdonation.org
*/
html,
body {
  height: 95.65vh;
}

body {
  align-items: center;
  background-image: url("../images/diamond_upholstery.png");
  background-position: center center;
  border: 20px solid;
  border-image-source: linear-gradient(-135deg, #317ab9, #deeffd);
  border-image-slice: 1;
  color: #317ab9;
  display: flex;
  flex-direction: column;
  font-family: "Arimo", sans-serif;
  justify-content: center;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

.statement__header {
  font-family: "Kameron", serif;
  font-size: 24px;
}

.content {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  justify-content: center;
  margin: 20px;
  max-width: 800px;
  text-align: center;
}

.logo {
  max-width: 50%;
  min-width: 150px;
  width: 100%;
}

.copyright {
  font-weight: 600;
}
