/*
* Author : Homer Gaines
* URL : http://designdonation.org
*/
html,
body {
  height: 95.9vh;
}

body {
  align-items: center;
  background-image: url("../images/diamond_upholstery.png");
  background-position: center center;
  border: 20px solid;
  border-image-source: linear-gradient(-135deg, #8cbce5, #deeffd);
  border-image-slice: 1;
  color: #7fb1dd;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px;
  padding: 0px;
}

h1,
h2,
h3 {
  font-family: "Kameron", serif;
}

h1 {
  font-size: 24px;
}

p,
a {
  font-family: "Arimo", sans-serif;
}

.content {
  max-width: 800px;
  text-align: center;
}
